n8n-workflows/store_ideas_to_knowledge_base.json
{
  "name": "store_ideas_to_knowledge_base",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "ideas_knowledge_base",
          "mode": "list",
          "cachedResultName": "ideas_knowledge_base"
        },
        "options": {
          "contentPayloadKey": "content"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        640,
        112
      ],
      "id": "894cea59-1058-4424-87da-ac951366cc86",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "fHETQshY22vQjg57",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        320
      ],
      "id": "24fc1582-4e9e-4e7b-9a8d-f26bc326c27f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "NjpBmh8lEZMtQnSt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        832,
        288
      ],
      "id": "4fcf0630-7140-4eb5-befe-c6116fc1ba1b",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 300,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        832,
        464
      ],
      "id": "cd6a1215-7677-4119-a713-61d82b346c48",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        416,
        112
      ],
      "id": "831cc51f-1a6c-4d35-a48f-b0e0138b4b3d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c9f44733-400d-4526-939d-a77132d1e996",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        112
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "067d2f6e-0449-4697-85f7-c3c5052bf237",
  "meta": {
    "instanceId": "f575d20bc03b0cf83c5999495a2b6392d16e165d2bcf2c6150d17ef23aa2f97f"
  },
  "id": "npQEwIzTtyDGifXa",
  "tags": []
}