n8n-workflows/voice_activated_agent.json
{
  "name": "voice_activated_agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -352,
        32
      ],
      "id": "dea8c481-e929-453d-8c6c-c96b35e9fd14",
      "name": "Webhook",
      "webhookId": "dced53d2-e10e-4357-9d22-4f8db19efa7c"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1408,
        0
      ],
      "id": "9994ef52-3051-42a1-beab-ed25d400ec0f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a personal assistant and your job is to keep track of my ideas and past conversations, idean (not general conversation) you will first go and retrieve the idea from the vector db and if you dont find anything similar to it then you will add it using the sub workflow store_ideas_to_knowledge_base. And you will respond with one idea per sentence, with preferable 2 or fewer sentences but never more than 3 sentences. Also dont repeat similar sentences, and be polite but not overly efficient.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        896,
        0
      ],
      "id": "e02cbb2d-5900-4721-ba61-7f7ffe7ae3d5",
      "name": "Jarvis"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        816,
        272
      ],
      "id": "f16ea958-eb61-4fad-a1d6-f2be633df1d0",
      "name": "4o",
      "credentials": {
        "openAiApi": {
          "id": "NjpBmh8lEZMtQnSt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.headers.host }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        448,
        272
      ],
      "id": "4201b3e0-25cf-43d5-ae27-c48dfa0eb616",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $json.list_of_messages_listened }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        448,
        -144
      ],
      "id": "05b347f4-f22e-41ed-bfe2-2b0f4e881121",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet text;\nlet last_sentence;\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n  text = item.json.body.text;\n  last_sentence = item.json.body.returnedSentence;\n}\n\nlet list_of_responses = $input.first().json.last_message.match(/[^.!?]+[.!?]+/g)?.map(s => s.trim()) ?? [];\n\nconst index = list_of_responses.indexOf(last_sentence);\nlet list_of_messages_listened;\nif (index === -1) list_of_messages_listened = [];\nlist_of_messages_listened = list_of_responses.slice(0, index+1) ?? list_of_responses.slice(0, index);\n\nreturn {text, list_of_messages_listened, last_sentence, list_of_responses};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        16
      ],
      "id": "18acc38a-4bc5-43fd-9f5f-fac950023f8c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "My ideas and conversations knowledge base.",
        "qdrantCollection": {
          "__rl": true,
          "value": "ideas_knowledge_base",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        960,
        272
      ],
      "id": "d5a1e324-b54a-425f-95d3-0910b40f121e",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "fHETQshY22vQjg57",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        0
      ],
      "id": "469947ee-4eae-4869-8ec8-aedb0f403e2c",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "virtual_agent_discussion",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "last_message",
              "condition": "neq"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_message": "={{ $json.output }}"
          },
          "matchingColumns": [
            "last_message"
          ],
          "schema": [
            {
              "id": "last_message",
              "displayName": "last_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1216,
        0
      ],
      "id": "5f26d79e-21fa-499c-a95c-0804e1f0dd4c",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ytUbMGKSZQCDziWb",
          "mode": "list",
          "cachedResultName": "virtual_agent_discussion",
          "cachedResultUrl": "/projects/B6y10vQ15eoqWsEo/datatables/ytUbMGKSZQCDziWb"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "last_message",
              "condition": "neq"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -128,
        -96
      ],
      "id": "f6018ec4-a1dc-4d1b-9544-d5262b57e964",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        112,
        16
      ],
      "id": "a9130f2a-b396-4bfa-a28c-45ac00487399",
      "name": "Merge1"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        944,
        432
      ],
      "id": "63eb3e54-94f3-4847-8ff7-0a1d4b6c22cd",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "NjpBmh8lEZMtQnSt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool storing any idea not found in ideas knowledge base.",
        "workflowId": {
          "__rl": true,
          "value": "npQEwIzTtyDGifXa",
          "mode": "list",
          "cachedResultUrl": "/workflow/npQEwIzTtyDGifXa",
          "cachedResultName": "store_ideas_to_knowledge_base"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1296,
        240
      ],
      "id": "59dc0c90-28de-4ecf-b19c-5055865cce42",
      "name": "store_ideas_to_knowledge_base"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-length": "62",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Not:A-Brand\";v=\"99\", \"Google Chrome\";v=\"145\", \"Chromium\";v=\"145\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "http://localhost:8000",
            "sec-fetch-site": "same-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "http://localhost:8000/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-GB,en-US;q=0.9,en;q=0.8"
          },
          "params": {},
          "query": {},
          "body": {
            "text": " hi how are you doing today",
            "returnSentence": "Yes?"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/n8n",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Jarvis": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4o": {
      "ai_languageModel": [
        [
          {
            "node": "Jarvis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Jarvis",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Jarvis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Jarvis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "store_ideas_to_knowledge_base": {
      "ai_tool": [
        [
          {
            "node": "Jarvis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4b6d21c4-36c4-4998-9bcc-04b0ac6a8d91",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f575d20bc03b0cf83c5999495a2b6392d16e165d2bcf2c6150d17ef23aa2f97f"
  },
  "id": "ABvPnYyRuMkrx24c",
  "tags": []
}